<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CTPTraderTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CTPTraderTest.Properties.Settings>
      <setting name="TradingAccountID" serializeAs="String">
        <value>011459</value>
      </setting>
      <setting name="TradingAccountPassword" serializeAs="String">
        <value>123456</value>
      </setting>
      <!--<setting name="TradeServerAddress" serializeAs="String">
        <value>180.168.146.187:10030</value>
      </setting>
      <setting name="QuoteServerAddress" serializeAs="String">
        <value>180.168.146.187:10031</value>
      </setting>-->
      <setting name="TradeServerAddress" serializeAs="String">
        <value>218.202.237.33:10002</value>
      </setting>
      <setting name="QuoteServerAddress" serializeAs="String">
        <value>218.202.237.33:10012</value>
      </setting>
      <setting name="BrokerID" serializeAs="String">
        <value>9999</value>
      </setting>
    </CTPTraderTest.Properties.Settings>
  </userSettings>
</configuration>