<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="MarketIp" value="222.73.119.230"/>
    <add key="MarketPort" value="7012"/>
    <add key="MarketType" value="DaStock"/>
   
    <add key="user" value="S000411"/>
    <add key="pwd" value="da888888"/>
    
    <!--
    <add key="MarketIp" value="222.73.119.230" />
    <add key="MarketPort" value="7001" />
    <add key="MarketType" value="DaFutures" />
    <add key="user" value="000260" />
    <add key="pwd" value="3456789" />
      -->
    <add key="Req_product_time" value="10:00" />
    <add key="MySQLConnString" value="Server=192.168.1.218;Database=jeeplus_schema;Uid=root;Pwd=da123;pooling=false;charset=utf8" />
    <add key="exceptExchange" value="CFFEX,DCE,SHFE,CZCE" />
    <add key="futures_reload_url" value="http://192.168.1.203:9090/sctd/reload/futures" />
    <add key="stock_reload_url" value="http://192.168.1.203:9090/sctd/reload/stock" />
    <add key="currency_reload_url" value="http://192.168.1.203:9090/sctd/reload/currency" />
    <add key="plate_reload_url" value="http://192.168.1.203:9090/sctd/reload/plate" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>